/* TODO: Make styles */

:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    overflow: hidden;
}

html {
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
    overflow-y: auto;

    font-size: 1vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

body {
    width: 100%;
    min-height: 100%;
    max-height: fit-content;
    background-color: brown;
}

main {
    width: 80%;
    min-height: 100vh;
    max-height: fit-content;
    padding: 2em 3em;
    margin: auto; 

    display: flex;
    justify-content: center;
    align-items: center;
}

section.counters{
    width: 100%;
    height: 70%;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.counter {
    width: 20%;
    max-width: max-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px
}


.counter-logo {
    width: 8em;
    aspect-ratio: 1/1;
    border-radius: 8em;

    filter: invert();
}

.counter-user {
    font-size: 2.3em;
}

.counter-number {
    font-size: 7em;
    transition: ease-in 100ms
}