
:root{
	/* CSS HSL */
	--bistre: hsla(29, 58%, 14%, 1);
	--dark-goldenrod: hsla(40, 80%, 38%, 1);
	--plum-web: hsla(316, 49%, 73%, 1);
	--english-violet: hsla(293, 24%, 33%, 1);
	--licorice: hsla(285, 47%, 7%, 1);
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--licorice);
}

.title {
	
	width: max-content;
	margin: 0 auto;
	color: hsla(316, 49%, 73%, 1);
}

.container-animation {
	width: 30vw;
	height: 40vh;
	border: 5px;
	margin: 30px auto;

	background-color:hsla(316, 49%, 73%, 1);
}

.content {
	display: block;
	width: max-content;
	margin-block: 30%;
	text-align: center;
}